<!doctype html>
<html lang="en">
<head>	{include file="public/mate" /}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="__INDEXS__/img/logo.ico" />
	<link rel="stylesheet" href="__INDEXS__/css/wx-audio.css">
	<link rel="stylesheet" href="__INDEXS__/css/animate.min.css">
	<link rel="stylesheet" href="__INDEXS__/bs/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEXS__/css/index.css">
	<script src="__INDEXS__/bs/js/jquery.min.js"></script>
	<script src="__INDEXS__/bs/js/bootstrap.min.js"></script>
	<script src="__INDEXS__/layer/layer.js"></script>
	<script src="__INDEXS__/js/wx-audio.js"></script>
	
</head>
<body>
		<!-- 头部导航 -->
		<nav class="navbar navbar-inverse navbar-fixed-top" id='mynav'>
		  	<div class="container byNav">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" href="#">
		        	<img alt="Brand" src="__INDEXS__/img/logo1.png" class='img-responsive' id='logopng' width='80px;'>
		      	</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav byli">
			        <li class='active'>
			        	<a href="{:url('index/index')}" >首页</a>
			        </li>
			       
			        <li class=''>
			        	<a href="{:url('index/product')}">产品介绍</a>
			        </li>
			        <li class=''>
			        	<a href="{:url('index/company')}" >公司介绍</a>
			        </li>
			        <!-- <li class=''>
			        	<a href="{:url('articles/news')}" >行业动态</a>
			        </li> -->
			       
			        <li class=''>
			        	<a href="{:url('index/contact')}" >联系我们</a>
			        </li>

			        <li class='fuwu hidden-xs'>
			        	<a href="">服务商登录</a>
			        </li>
			        <li class='kefu hidden-xs'>
			        	<a href="">客服登录</a>
			        </li>
		      	</ul>   	
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="hidden-md hidden-lg hidden-sm kong"></div>

		<div class="container" style='margin:60px 100px;'>
			<div class="col-md-12">
				
				<img src="__INDEXS__/img/company.jpg" alt="" width='100%'>
			</div>
			
			<div class="col-md-12" >
				<h2>江苏希高智能科技有限公司</h2>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;希高智能座落于美丽的城市江苏，一直从事呼叫中心和服务型机器人的研发，现致力于新一代AI智能机器人的研发。希高利用国内领先的人工智能、语义理解和机器学习等技术来实现更完善、更真实、情绪稳定、服务更专业的人工智能电话交互系统。能满足企业在产品销售、招商、推广、宣传、调查、通知、客服接待等诸多场景的应用，并取得了二十多项软著和发明专利。一台希高智能电话机器人可以完成一个销售组或客服组的工作量 。能有效帮助企业降低人力成本、提高过程跟进和业绩产出效率。科技改变生活，我们将精益求精，把更高效的系统呈现给每一位用户
				</p>
			</div>
			<div class="col-md-12  ">
				<div class=''>
					<p style="font-size:16px;">企业：江苏希高智能科技有限公司</p>
					<p style="margin-top:12px;font-size:16px;">销售咨询：132-3626-8899</p>
					<p style="margin-top:12px;font-size:16px;">技术咨询：153-6661-1528</p>
					<p style="margin-top:12px;font-size:16px;">客服QQ:85010300</p>
					<p style="margin-top:12px;font-size:16px;">邮箱：85010300@qq.com</p>
					
					<p style="margin-top:12px;font-size:16px;">企业地址：江苏省淮安市浙大网新科技园31号楼</p>
				</div>
			</div>


		</div>

		
</body>
</html>