{include file="public/header" /}
<script src="__INDEXS__/js/index.js"></script>
		<!-- 中间内容 -->
		<!-- 中间内容 -->
		<div class="content">
			<!-- 轮播图 -->
			<div id="mycarousel" class='carousel slide heig0' data-ride='carousel'>
				<!-- 图片 -->
				<div class="carousel-inner" >
					<div class="item active" style="background:url('__INDEXS__/img/banner6.jpg'); background-size:cover;">
						<img src="__INDEXS__/img/banner6.jpg" alt="...">
					</div>
					<div class="item" style="background:url('__INDEXS__/img/banner5.jpg'); background-size:cover;">
						<img src="__INDEXS__/img/banner5.jpg" alt="...">
					</div>
				</div>
				<!-- 指示灯 -->
				<ol class="carousel-indicators">
					<li data-target='#mycarousel' data-slide-to='0' class='active'></li>
					<li data-target='#mycarousel' data-slide-to='1' ></li>
				</ol>
			</div>
			<!-- 轮播下技术 -->
			<div class="hidden-xs jishu">
				<div class="container hang">
					<div class="ji1 text-center">
						<h4 class=''>行业解决方案</h4>
						<span>支持个性化定制</span>
						<br>
						<span>更贴近真实场景</span>
					</div>
					<div class="ji1 text-center">
						<h4 class=''>真人体验</h4>
						<span>真人语音、多轮会话</span>
						<br>
						<span>支持转接人工、大数据意向挖掘</span>
					</div>
					<div class="ji1 text-center">
						<h4 class=''>核心技术</h4>
						<span>掌握AI语音处理</span>
						<br>
						<span>知识图谱等核心技术</span>
					</div>
					<div class="ji1 text-center">
						<h4 class=''>研发团队</h4>
						<span>分为技术研发体系、销售体系、服务运营三大体系。</span>
						<br>
						
					</div>
					<div class="ji1 text-center">
						<h4 class=''>值得信赖</h4>
						<span>总部base江苏，现已有50余人。</span>
						<br>
						<span>智能科技相关技术领域深耕10多年。</span>
					</div>
				</div>
			</div>

			<!-- 希高电话市场 -->
			<div class="dhsc">
				<!-- 右侧咨询 -->
				<div class="tel hidden-xs">
					<div class="container header-page text-center telzx">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true" id='zixun'></span>
						<p class='p1'>电话咨询 <span class='yzf'>132-3626-8899</span></p>
						<hr width='95%'>

						<div id="try">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<p>免费试用</p>
						</div>
						<hr width='95%'>

						<div id="consult" class='consults'>
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
							<p >合作咨询</p>
						</div>
						<hr width='95%'>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<p class='p2'>微信咨询<img src="__INDEXS__/img/kefu.png" alt="" width='100%' class='yzf1'></p>
					</div>
				</div>
				<!-- 右侧咨询end -->
				<div class="dhsck hidden-xs"></div>
				<div class="row text-center hidden-xs  heig1">
					<div class="container">
						<p class='h1'>希高智能人机融合智能电话，效率更高</p>
						<p class=" scby">
							超人力完成简单的通知工作，大大提高生产效率
						</p>
						<p class=" scby">
							智能机器人标准应对话术，无需质检，无需过程管理。
						</p>
						<p class=" scby">
							我们的机器人可以提高效率降低成本，而在管理上实现管理零负担
						</p>
					</div>
					<div class="container">
						<button class='btn  btn-info hidden-xs btnLg'>前往查看--></button>
					</div>
					<div class="container text-center hidden-xs">
						<img src="__INDEXS__/img/show.jpg" alt="" width='80%'>
					</div>
				</div>
			</div>
			<!-- 视频 -->
			<div class="container text-center">
				
				<section class='hidden-xs' style='margin:25px 0px;position: relative;'>
					<video src="__INDEXS__/vd/zhineng.mp4"  id="vid" poster='__INDEXS__/vd/ado.png' width='85%'></video>
					<div class='v_start' onclick="start()" style='background:rgba(255,255,255,.1);position:absolute;top: 40%;left:45%;border-radius: 50%; '>
						<img src="__INDEXS__/vd/timg.jpg" alt="" width='100px;' style='border-radius: 50%;opacity:0.5;cursor: pointer;' >
					</div>
				</section>
				<section class='hidden-md hidden-lg hidden-sm' style='margin:25px 0px;position: relative;'>
					<video src="__INDEXS__/vd/zhineng.mp4"  id="vid1" poster='__INDEXS__/vd/ado.png' width='100%'></video>
					<div class='v_start' onclick="start1()" style='background:rgba(255,255,255,.1);position:absolute;top: 30%;left:35%;border-radius: 50%; '>
						<img src="__INDEXS__/vd/timg.jpg" alt="" width='100px;' style='border-radius: 50%;opacity:0.5;cursor: pointer;' >
					</div>
				</section>
				
			</div>
			<!-- 视频end -->
			<div class="container text-center">
				<h1 class='yby heig2'>用希高，更放心</h1>

				<div class="row">
					<div class="col-xs-12 hidden-md hidden-sm hidden-lg" style='margin-top:15px;'>
						<img src="__INDEXS__/img/btn1.jpg" alt="" width='80%'>
					</div>
					<div class="col-xs-12 hidden-md hidden-sm hidden-lg" style='margin-top:15px;'>
						<img src="__INDEXS__/img/btn2.jpg" alt="" width='80%'>
					</div>
					<div class="col-xs-12 hidden-md hidden-sm hidden-lg" style='margin-top:15px;'>
						<img src="__INDEXS__/img/btn3.jpg" alt="" width='80%'>
					</div>
					<div class="col-xs-12 hidden-md hidden-sm hidden-lg" style='margin-top:15px;'>
						<img src="__INDEXS__/img/btn4.jpg" alt="" width='80%'>
					</div>
				</div>
				<div class="row  hidden-xs">
					<div class=" col1">
						<p class='colp' >
							<img src="__INDEXS__/img/btn1.jpg" alt="" width='100%'>
						</p>
					</div>
					<div class=" col1 col12">
						<p class='colp' >
							<img src="__INDEXS__/img/btn2.jpg" alt="" width='100%'>
						</p>
					</div>
					<div class=" col1">
						<p class='colp'>
							<img src="__INDEXS__/img/btn3.jpg" alt="" width='100%'>
						</p>
					</div>
					<div class=" col1 col12">
						<p class='colp'>
							<img src="__INDEXS__/img/btn4.jpg" alt="" width='100%'>
						</p>
					</div>
				</div>
			</div>
			<!-- 希高电话机器人可以做什么 -->
			<div class="container text-center kyh">
				<h1 class='byr'>希高电话机器人可以做什么</h1>
				<div class="row ppt">
					<div class="col-md-4 col-xs-12 text-center">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
						<h4>自动拨号</h4>
						<p style="width:60%;margin:0 auto;">客户资料一键批量导入，随心设定自动拨打参数</p>
					</div>

					<div class="col-md-4 col-xs-12 text-center">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						<h4>智能沟通</h4>
						<p style="width:60%;margin:0 auto;">真人语音交互，专业业务解答；主动引导销售过程，客户提问对答如流</p>
					</div>

					<div class="col-md-4 col-xs-12 text-center heig3">
						<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
						<h4>自动记录</h4>
						<p style="width:60%;margin:0 auto;">通话录音、识别文本自动存取，客户业务关注点自动标</p>
					</div>
				</div>

				<div class="row ppt">
					<div class="col-md-4 col-xs-12 text-center">
						<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
						<h4>自动拨号</h4>
						<p style="width:60%;margin:0 auto;">客户资料一键批量导入，随心设定自动拨打参数</p>
					</div>

					<div class="col-md-4 col-xs-12 text-center">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						<h4>智能沟通</h4>
						<p style="width:60%;margin:0 auto;">真人语音交互，专业业务解答；主动引导销售过程，客户提问对答如流</p>
					</div>

					<div class="col-md-4 col-xs-12 text-center">
						<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
						<h4>自动记录</h4>
						<p style="width:60%;margin:0 auto;">通话录音、识别文本自动存取，客户业务关注点自动标</p>
					</div>
				</div>
				<a name='audition'></a>
				<div class="container text-center">

					<button class='btn  btn-info hidden-xs btnLg1'>免费获取体检资格--></button>
				</div>
			</div>
			
			<div class="clear"></div>
			<!-- 推荐试听 -->
			<div class="row">	
				<div class="col-md-12 col-xs-12 h2 text-center"> 推荐试听</div>
			</div>
			<div class="kong"></div>
			<div class="container">
				<div class="row ">
					<div class="col-md-6 col-xs-12">
						<div class="row listen">
							<div class="col-md-3 col-md-offset-1 col-xs-3">
								<img src="__INDEXS__/img/listen1.jpg" alt="" width='100%' class='listenImg' >
							</div>
							<div class="col-md-8 col-xs-9">
								<p style='color:#888;'>海量客户号码一键导入，定时定量自动拨打。贷款场景话术对答如流，场景外热词库随时调用。高频低效高压的事情百应替你承担，高频高效愉快的签单工作由你来做。</p>
								<div id="textaudio1" ></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="row listen">
							<div class="col-md-3 col-md-offset-1 col-xs-3">
								<img src="__INDEXS__/img/listen2.jpg" alt="" width='100%' class='listenImg'>
							</div>
							<div class="col-md-8 col-xs-9">
								<p style='color:#888;'>海量客户号码一键导入，定时定量自动拨打。贷款场景话术对答如流，场景外热词库随时调用。高频低效高压的事情百应替你承担，高频高效愉快的签单工作由你来做。</p>
								<div id="textaudio2" ></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="row listen">
							<div class="col-md-3 col-md-offset-1 col-xs-3">
								<img src="__INDEXS__/img/listen3.jpg" alt="" width='100%' class='listenImg'>
							</div>
							<div class="col-md-8 col-xs-9">
								<p style='color:#888;'>海量客户号码一键导入，定时定量自动拨打。贷款场景话术对答如流，场景外热词库随时调用。高频低效高压的事情百应替你承担，高频高效愉快的签单工作由你来做。</p>
								<div id="textaudio3" ></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="row listen">
							<div class="col-md-3 col-md-offset-1 col-xs-3">
								<img src="__INDEXS__/img/listen4.jpg" alt="" width='100%' class='listenImg'>
							</div>
							<div class="col-md-8 col-xs-9">
								<p style='color:#888;'>海量客户号码一键导入，定时定量自动拨打。贷款场景话术对答如流，场景外热词库随时调用。高频低效高压的事情百应替你承担，高频高效愉快的签单工作由你来做。</p>
								<div id="textaudio4" ></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 效率 -->
			<div class="container">
				<br>
				<div class="row">
					<div class="col-md-12 h3 text-center hidden-xs" style='margin:35px 0px;color:#666;'>花1个人的薪资=雇佣6个小精灵电话机器人+工作效率提升5倍</div>
					<div class="col-md-12 h4 text-center hidden-md hidden-lg hidden-sm" style='margin:35px 0px;color:#333;'><p>花1个人的薪资=雇佣6个小精灵电话机器人+工作效率提升5倍</p></div>
					<div class="col-md-12 text-center" style='margin:15px auto 100px auto;'>
						<img src="__INDEXS__/img/fz1.jpg" alt="" width='90%'>
					</div>
				</div>
			</div>
		</div>
		
		{include file="public/footer" /}
</body>
<script>
//右边尝试
	$('#try').click(function() {
		// $('body').css({'overflow-y':'hidden'})
		layer.open({
					type: 2,
					title: " ",
					fix: false,
	        		shadeClose: true,
	        		maxmin: true,
	        		area: ['505px', '550px'],
	        		content: "{:url('index/popone')}",
	        		yes: function(index, layero){
	    				layer.close(index); //如果设定了yes回调，需进行手工关闭
	  				}
			})
	})
	//前往查看
	$('.btn').click(function() {
		// $('body').css({'overflow-y':'hidden'})
		layer.open({
					type: 2,
					title: " ",
					fix: false,
	        		shadeClose: true,
	        		maxmin: true,
	        		area: ['505px', '550px'],
	        		content:"{:url('index/popone')}",
	        		yes: function(index, layero){
	    				layer.close(index); //如果设定了yes回调，需进行手工关闭
	  				}
			})
	})
	
//试听
//第I一个
var wxAudio = new Wxaudio({
		ele: '#textaudio1',
		src: '/static/audio/zx.m4a',
		width: '100%'
	});
	function play() {
		wxAudio.audioPlay()
	}

// 第二个
	var wxAudio = new Wxaudio({
		ele: '#textaudio2',
		src: '/static/audio/dk.wav',
		width: '100%'
	});
	function play() {
		wxAudio.audioPlay()
	}

	// 第三个
	var wxAudio = new Wxaudio({
		ele: '#textaudio3',
		src: '/static/audio/cs.wav',
		width: '100%'
	});
	function play() {
		wxAudio.audioPlay()
	}

	// 第四个
	var wxAudio = new Wxaudio({
		ele: '#textaudio4',
		src: '/static/audio/fc.wav',
		width: '100%'
	});
	function play() {
		wxAudio.audioPlay()
	}

//视频播放
	vid = document.getElementById('vid');
	v_num=1;
	$('#vid').click(function  () {
		if (v_num) {
			$('.v_start').css({'display':'block'})
			vid.pause();
			v_num=0;
		}else{
			$('.v_start').css({'display':'none'})
			vid.play();
			v_num=1;
		};
	})
	function start() {
		$('.v_start').css({'display':'none'})
		vid.play();	
	}
	vid1 = document.getElementById('vid1');
	v_num1=1;
	$('#vid1').click(function  () {
		if (v_num1) {
			$('.v_start').css({'display':'block'})
			vid1.pause();
			v_num1=0;
		}else{
			$('.v_start').css({'display':'none'})
			vid1.play();
			v_num1=1;
		};
	})
	function start1() {
		$('.v_start').css({'display':'none'})
		vid1.play();
		v_num1=1;	
	}
</script>
</html>